<div class = "wrapper">
  <div class="content">
      <!-- Default form login -->
  <form class="text-center"  >

    <h3 >Sign in</h3>
    <hr>
    <!-- Email -->

    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Email" required>
    </div>

    <!-- Password -->
    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="Password" required>
    </div>

    <!-- Sign in button -->
  <button class="logInBtn" type="submit">Log in</button>
    <!-- Register -->

<hr>

  <a href="">Forgot password?</a>  · <a href="">Create an Account</a>




  </form>
  </div>
</div>
