
<div class="wrapper">
		<!-- Default form login -->
<form class="text-center"  [formGroup]="form">

  <h3 >Sign in</h3>

  <!-- Email -->

  <div class="form-group">
    <label for="email">Email</label><span></span>
    <input type="email" class="form-control" id="email" required>
  </div>

  <!-- Password -->
  <div class="form-group">
    <label for="password">Password</label><span></span>
    <input type="password" class="form-control" id="password" required>
  </div>

  <ul class="a1">
    <li>
      <!-- Remember me -->
      <input type="checkbox" default="true"/>Remember me
    </li>
    <li>
      <!-- Forgot password -->
      <a href="">Forgot password?</a>
    </li>
  </ul>
  <!-- Sign in button -->
 <button class="logInBtn" type="submit">Log in</button>

  <!-- Register -->

    <a href="">Register</a>

</form>
</div>
