

  <header class="header">
    <a [routerLink]="['/']" class="logo">IPS</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

    <ul class="menu">
      <li><a href="#work">Our Work</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#careers">Careers</a></li>
      <li><a href="#contact">Contact</a></li>

    </ul>

    <ul class="auth">
    <li> <a title="Sign Up" [routerLink]="['/signup']">Registar</a></li>
    <li> <a title="Log In"  [routerLink]="['/login']">Log In</a></li>
    </ul>

  </header>
