<div id="info" class="border border-left-0 border-light">
  <div class="d-flex justify-content-between">

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nome <span>123</span></li>
      <li class="list-group-item">Genero <span>123</span></li>
      <li class="list-group-item">Data de Nascimento <span>123</span></li>
      <li class="list-group-item">Tipo de User <span>21</span></li>
      <li class="list-group-item">Data de Criação de Conta <span>33</span></li>
    </ul>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">   <button>Editar</button></li>
      <li class="list-group-item"> <img  src="assets/img/small_logo.png"></li>
    </ul>
  </div>
</div>
<hr>
<div id="projetos">

</div>
