<div id="info" class="border border-left-0 border-light">
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-between">
      <ul class="list-group list-group-flush ">
        <li class="list-group-item">Nome</li>
        <li class="list-group-item">Genero </li>
        <li class="list-group-item">Data de Nascimento </li>
        <li class="list-group-item">Tipo de User </li>
        <li class="list-group-item">Data de Criação de Conta</li>
      </ul>

      <ul class="list-group list-group-flush ">
        <li class="list-group-item"> <span #name></span></li>
        <li class="list-group-item"> <span #gender></span></li>
        <li class="list-group-item"> <span #dateOfBirth></span></li>
        <li class="list-group-item"> <span #type></span></li>
        <li class="list-group-item"> <span #dateOfCriation></span></li>
      </ul>
    </div>
    <div class="card text-center" style="width: 18rem; border: 0ch;">
      <img class="card-img-top" src="assets/img/small_logo.png" alt="Card image cap">
      <div class="card-body">
        <a href="#" class="btn btn-primary">Editar</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="projetos">

</div>
