<div id="info" class="container p-5 m-10 ">
  <form [formGroup]="formProfile">
    <div class="row mb-2">
      <label class="col-md-4">Nome</label> <input type="text" class="col-md-4 form-control" formControlName="nome" #nome
        name="nome"> </div>
    <div class="row mb-2">
      <label class="col-md-4">Email</label> <span class="col-md-4" #email name="email"></span></div>
    <div class="row mb-2">
      <label class="col-md-4">Numero de Telefone</label> <input type="number" class="col-md-4 form-control"
        formControlName="numeroTelefone" #numeroTelefone name="numeroTelefone"> </div>

    <div class="row mb-2">
      <label class="col-md-4">Genero</label> <input type="text" class="col-md-4 form-control" formControlName="genero"
        #genero name="genero"> </div>

    <div class="row mb-2">
      <label class="col-md-4">Data de Nascimento </label> <input type="date" class="col-md-4 form-control"
        formControlName="dataNascimento" #dataNascimento name="dataDeNascimento">
    </div>

    <div class="row mb-2">
      <label class="col-md-4">Distrito</label> <input #distrito name="distrito" type="text"
        placeholder="Escolha um Distrito" class="form-control col-md-4" formControlName="distrito" MatInput
        [matAutocomplete]="autoDistrito">
      <mat-autocomplete #autoDistrito="matAutocomplete">
        <mat-option *ngFor="let distrito of filteredDistritos | async" [value]="distrito">
          {{distrito}}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="row mb-2">
      <label class="col-md-4">Concelho</label> <input type="text" placeholder="Escolha um Concelho"
        class="form-control col-md-4" id="concelho" name="concelho" formControlName="concelho" MatInput
        [matAutocomplete]="autoConcelho">
      <mat-autocomplete #autoConcelho="matAutocomplete">
        <mat-option *ngFor="let concelho of filteredConcelhos | async" [value]="concelho">
          {{concelho}}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="row mb-2">
      <label class="col-md-4">Tipo de Utilizador</label> <span class="col-md-4 " name="tipoMembro" #tipoMembro></span>
    </div>

    <div class="row mb-2">
      <label class="col-md-4">Data de Criação de Conta</label> <span class="col-md-4 " name="dataCriacao"
        #dataCriacao></span>
    </div>

    <!--   <div class="row">
      <label class="col-md-4">Foto de Perfil</label>
    </div>
    <div class="row">
      <input class="col-md-4 form-control" type="file" accept="image/png, image/jpeg" #photoSrc>
      <img class="border border-secondary rounded col-md-4" #photo>
    </div>
  -->
    <div class="row mb-2">
      <a class="btn btn-success" (click)="updateData()"> Guardar Alteraçoes</a>
    </div>
  </form>

</div>
